<button
  type='button'
  aria-haspopup={{true}}
  aria-controls={{@itemsGuid}}
  aria-expanded={{@isOpen}}
  id='{{@menuGuid}}-button'
  ...attributes
  {{on 'click' @onClick}}
  {{on 'keydown' this.onKeydown}}
>
  {{yield}}
</button>