<button
  type='button'
  aria-haspopup={{true}}
  aria-controls={{@itemsGuid}}
  aria-expanded={{@isOpen}}
  id={{@buttonGuid}}
  ...attributes
  {{on 'click' @toggleMenu}}
  {{on 'keydown' this.onKeydown}}
>
  {{yield}}
</button>