<button
  {{on "click" @onClick}}
  type="button"
  aria-haspopup={{true}}
  aria-controls={{@itemsGuid}}
  aria-expanded={{@isOpen}}
  id="{{@menuGuid}}-button"
  ...attributes
>
  {{yield}}
</button>
