{{! template-lint-disable no-down-event-binding }}
<button
  type='button'
  aria-haspopup={{true}}
  aria-controls={{if @isOpen @itemsGuid}}
  aria-expanded={{@isOpen}}
  id={{@buttonGuid}}
  ...attributes
  {{on 'click' @toggleMenu}}
  {{on 'keydown' this.onKeydown}}
>
  {{yield}}
</button>