<div
  id={{this.id}}
  ariaLabel={{@value}}
  aria-labelledby={{this.label}}
  aria-disabled={{@disabled}}
  role='radio'
  aria-checked={{eq @activeValue @value}}
  {{did-insert this.registerOptionElement}}
  {{on 'click' (fn this.onClick @value)}}
  {{on 'keyup' @handleKeyup}}
  {{will-destroy this.unregisterOptionElement}}
  ...attributes
>
  {{yield}}
</div>