 <div class="w-72 fixed top-16">
  <Listbox @value={{this.selectedPerson}} @onChange={{this.setSelectedPerson}} as |listbox|>
    <listbox.Label>Select a person:</listbox.Label>
    <listbox.Button class="h-9 relative w-full py-2 pl-3 pr-10 text-left bg-white rounded-lg shadow-md cursor-default focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-white focus-visible:ring-offset-orange-300 focus-visible:ring-offset-2 focus-visible:border-indigo-500 sm:text-sm">
      <span class="block truncate">{{this.selectedPerson.name}}</span>
      <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6 text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
        </svg>
      </span>
    </listbox.Button>
    <listbox.Options class="absolute w-full py-1 mt-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" as |options|>
      {{#each this.people as |person|}}
        <options.Option
          @key={{person.id}}
          @value={{person}}
          @disabled={{person.unavailable}}
          class="outline-none"
          as |option|
        >
          <span class="block truncate cursor-default select-none relative py-2 pl-10 pr-4
            {{if option.selected 'font-medium' 'font-normal'}}
            {{if option.active 'text-yellow-900 bg-yellow-100' 'text-gray-900'}}
            ">
            <span class="{{if option.disabled 'text-gray-500'}}">
              {{person.name}}
            </span>
            {{#if option.selected}}
              <span class="absolute inset-y-0 left-0 flex items-center pl-3 {{if option.active 'text-yellow-600' 'text-yellow-600'}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" aria-hidden="true"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
              </span>
            {{/if}}
          </span>
        </options.Option>
      {{/each}}
    </listbox.Options>
  </Listbox>
</div>
